.select {
	width: 250px;
	background-color: transparent;
	border: none;
	border-bottom: 2px solid #23a582;
	margin-bottom: 1rem;
	text-align: center;
	font-size: 1.5rem;
	color: white;
}

select:focus-visible {
	outline: none;
}

.option {
	border: none;
	background-color: #121212;
}

.option:focus {
	outline: none;
	background-color: #23a582;
}

.option:hover {
	background-color: #23a582;
}
