.main {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.content {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	max-width: 1200px;
	flex: 1;
}

.loader {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}
