.login__main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1rem;
}

.login__button {
  cursor: pointer;
  background-color: #21dbaa;
  padding: 4px;
  border-radius: 4px;
  font-size: 1rem;
}
